<!DOCTYPE html>
<html>
  <head>
    <title>Sensor config</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sensor Dashboard</h1>
    <p>Measuring things</p>
  </body>
</html>
